<div class="header" style="float: left; width: 100%;">
  <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTxQuvlvWqPmQ5Q7OHPAqfwBP7pCY2pgKQiyI47oLd-gV4Uymfy" height="75px" style="float: left">
  <h1 style="padding-left: 10px; float: left">Agenda</h1>
</div>
<div class="" style="width:100%; float:left">
&nbsp;
</div>
<table id="tableau" border="2" cellpadding="10" cellspacing="1">
  <tr>
      <th width="10%" align="center">Fait ?
       <br />
         <button ng-click="life.orderfait='-fait'" ng-if="life.orderfait == '+fait'"class="btn btn-defaut"/><i class="fa fa-remove"></i>
         <button ng-click="life.orderfait='+fait'" ng-if="life.orderfait == '-fait'"class="btn btn-defaut"/><i class="fa fa-check"></i>
     </th>
      <th width="10%" align="center">Travail distibué le:
       <br />
         <button ng-click="life.order='+date'"class="btn btn-defaut"/><i class="fa fa-arrow-down"></i></button>
         <button ng-click="life.order='-date'"class="btn btn-defaut"/><i class="fa fa-arrow-up"></i></button>
     </th>
      <th width="20%" align="center">Matière:
       <br />
        <input  type="text" value="" ng-model="life.keyword"/> </th>

      <th width="20%" align="left">À faire pour le:
        <br />
          <button ng-click="life.order='+datefin'"class="btn btn-defaut"/><i class="fa fa-arrow-down"></i></button>
          <button ng-click="life.order='-datefin'"class="btn btn-defaut"/><i class="fa fa-arrow-up"></i></button>
     </th>
      <th with="10%" align="center"> Supprimer ? </th>
    </tr>

    <tr ng-repeat="item in liste | filter: life.keyword | orderBy:life.order | orderBy:life.orderfait">
       <td> <input type="checkbox" class="button" name="choix1" value="1" ng-model="item.fait"></td>
       <td ng-class="{'fait':item.fait}">{{moment(item.date).format('ddd DD MMM YYYY')}}</td>
       <td ng-class="{'fait':item.fait}">{{item.matiere}}</td>
       <td ng-class="{'fait':item.fait}">{{moment(item.datefin).format('ddd DD MMM YYYY')}}</td>
       <td>
         <button  ng-if="item.fait" type="button" ng-click="supprimer(item)" class="btn btn-remove">
           <i class="fa fa-remove"></i>

      </td>
    </tr>
    <tr my-enter="ajouter()">
      <th width="10%" align="center"></th>
      <th width="20%" align="center">
        <input ng-model="date" type="text" id="rowText" placeholder="JJ/MM/YYYY">
      </th>
      <th width="20%" align="center"><input ng-model="matiere" type="text" id="rowText1"></th>
      <th width="30%" align="left">
        <input ng-model="datefin" type="text" id="rowText" placeholder="JJ/MM/YYYY">
      </th>
      <th>
        <button ng-click="ajouter()" type="button" ng-show="date!=undefined && matiere!=undefined && datefin!=undefined" class="btn btn-add">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
        </button>
      </th>
    </tr>
  </table>

<br><br>
<a href="" ng-click="clear()" type="button" class="btn2"  >vider</a>
